<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8" />
  <title></title>
</head>

<body>

  <div style="position:absolute;bottom:0;opacity:0.5">
    <div>Cat by Poly by Google <a href="https://creativecommons.org/licenses/by/3.0/">[CC-BY]</a> via <a
        href="https://poly.pizza/m/dYKICaHpK0c">Poly Pizza</a>
    </div>
    <div>Cat by Poly by Google <a href="https://creativecommons.org/licenses/by/3.0/">[CC-BY]</a> via <a
        href="https://poly.pizza/m/6dM1J6f6pm9">Poly Pizza</a>
    </div>
  </div>
</body>

</html>
